<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>newone</servlet-name>
        <servlet-class>MyServlet.Httpservletdemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_user</servlet-name>
        <servlet-class>backend.Display_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleteuser</servlet-name>
        <servlet-class>backend.Deleteuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSession</servlet-name>
        <servlet-class>ForSession.getSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateItem</servlet-name>
        <servlet-class>backend.updateItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneItem</servlet-name>
        <servlet-class>backend.GetOneItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllUsers</servlet-name>
        <servlet-class>backend.GetAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateUser</servlet-name>
        <servlet-class>backend.ActivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendUser</servlet-name>
        <servlet-class>backend.SuspendUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>backend.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneUser</servlet-name>
        <servlet-class>backend.GetOneUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>backend.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getItemSelectBox</servlet-name>
        <servlet-class>backend.getItemSelectBox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchase</servlet-name>
        <servlet-class>backend.purchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sales</servlet-name>
        <servlet-class>backend.sales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookietest</servlet-name>
        <servlet-class>backend.cookietest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewItem</servlet-name>
        <servlet-class>backend.ViewItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getItemForView</servlet-name>
        <servlet-class>backend.getItemForView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newone</servlet-name>
        <url-pattern>/newone</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gene</servlet-name>
        <servlet-class>MyServlet.genericwala</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gene</servlet-name>
        <url-pattern>/generic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyfirstServlet</servlet-name>
        <servlet-class>MyServlet.FirstServletDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyfirstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sth</servlet-name>
        <servlet-class>backend.SaveItemData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sth</servlet-name>
        <url-pattern>/SaveItemData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ggg</servlet-name>
        <servlet-class>backend.GetAllItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ggg</servlet-name>
        <url-pattern>/GetAllItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletei</servlet-name>
        <servlet-class>backend.deleteItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletei</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>regi</servlet-name>
        <servlet-class>backend.saveUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regi</servlet-name>
        <url-pattern>/saveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_user</servlet-name>
        <url-pattern>/Display_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleteuser</servlet-name>
        <url-pattern>/Deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSession</servlet-name>
        <url-pattern>/getSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateItem</servlet-name>
        <url-pattern>/updateItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneItem</servlet-name>
        <url-pattern>/GetOneItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllUsers</servlet-name>
        <url-pattern>/GetAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateUser</servlet-name>
        <url-pattern>/ActivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendUser</servlet-name>
        <url-pattern>/SuspendUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginUser</servlet-name>
        <servlet-class>backend.loginUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginUser</servlet-name>
        <url-pattern>/loginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneUser</servlet-name>
        <url-pattern>/GetOneUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getItemSelectBox</servlet-name>
        <url-pattern>/getItemSelectBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchase</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sales</servlet-name>
        <url-pattern>/sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookietest</servlet-name>
        <url-pattern>/cookietest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name>
        <url-pattern>/ViewItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getItemForView</servlet-name>
        <url-pattern>/getItemForView</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
